<div>
    <h2 class="title">Lista de Productos (Tiempo real)</h2>

    <table class="listP">
        <tr>
            <th>Título</th>
            <th>Description</th>
            <th>Precio</th>
            <th>Imagén</th>
        </tr>
        {{!-- Contenedor para los productos --}}
        <tbody id="products-table-body">

        </tbody>

    </table>
</div>

<style>
    table, th, td {
        border: 1px solid;
    }

    .title {
        text-align: center;
    }

    .listP {
        width: 100%;
    }
</style>

<script src="js/main.js"></script>